body {
    background-color: darkkhaki;
    text-align: center;
}
header {
    background-color: brown;
    color: white
}
article {
    width:98%;
    border: white solid 2px;
    padding: 5px;
}
main.content {
    padding: 5px;
    color: black;
    border: black solid 5px;
    border-radius: 30px;
}
div.content0 {
    padding: 5px;
    width: 96%;
    border: brown solid 5px;
    border-radius: 30px;
    color: black;
}
img.image {
    width: 75%;
    border-radius: 40px;
}