@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
    font-family: 'Noto Sans Japanese',   sans-serif;
    font-weight: 400; 
}
header {
    background-color:cadetblue;
    border-radius: 5px;
    width: 100%;
}
article {
    width: 100%;
    display: flex;
    background-color:aquamarine;
}
main {
    margin: 1px;
    width: 68%;
    order: 1;
    background-color:darkkhaki;
}
div.side {
    width: 30%;
    order: 0;
    background-color: chartreuse;
}
div.news {
    overflow-y: scroll;
    width: 80%;
    height: 320px;
    background-color: aliceblue;
    border: black solid 2px;
    border-radius: 5px;
}